<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>entry</title>
    </head>
    <body>
        <p><span data-th-text="${#authentication.name}">authentication.name</span></p>
        <dl>
            <dt>
                <a href="#" data-th-href="${entry.url}" data-th-text="${entry.title}">title</a>
                <span data-th-text="${bookmarks.size()}">n</span> users
            </dt>
            <dd data-th-each="bookmark : ${bookmarks}">
                <a data-th-text="${bookmark.username}" href="user.html" data-th-href="@{'/' + ${bookmark.username}}">username</a>
                <span data-th-text="${bookmark.comment}">comment</span>
            </dd>
        </dl>
    </body>
</html>
