<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>bookmark</title>
    </head>
    <body>
        <p>
            <a href="user.html" data-th-href="@{'/' + ${#authentication.name}}" data-th-text="${#authentication.name}">authentication.name</a>
            <a href="add.html" data-th-href="@{'/add'}">add</a>
        </p>
        <p><span data-th-text="${user}">user</span>'s bookmark</p>
        <dl data-th-each="bookmark : ${bookmarks}">
            <dt>
                <a href="#" data-th-href="${bookmark.url}" data-th-text="${bookmark.title}">title</a>
                <a href="entry.html" data-th-href="@{/entry(url=${bookmark.url})}"><span data-th-text="${bookmark.count}">n</span> users</a>
            </dt>
            <dd data-th-text="${bookmark.comment}">comment</dd>
        </dl>
    </body>
</html>
